@using Datos;
@using Entidad;
@model List<Empresa>
@{
    Layout = null;
    Usuario oUsuario = ESesion.ObtenerSesion<Usuario>(Session["Usuario"]);
    Empresa obtEmpresa = ViewBag.Empresa;
    List<Moneda> monedas = ViewBag.Monedas;

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Empresa</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Principal/plugins/fontawesome-free/css/all.min.css")">
    <link href="@Url.Content("~/Content/Principal/plugins/select2/css/select2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Principal/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Principal/plugins//overlayScrollbars/css/OverlayScrollbars.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Principal/dist/css/adminlte.min.css")">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>
    <!-- Site wrapper -->
    <div class="text-center  mt-5">
        <h1>SELECCION DE EMPRESA</h1>

        <div class="col-md-12">
            <label class="form-label" for="slcEmpresa">EMPRESA</label>
        </div>
        <div class="col-md-12 form-group alert alert-danger" id="mensaje" style="display:none">
        </div>
        <div class="" name="divdrop">
            <div class="form-group" id="contenedorEmpresa" style="padding-left:400px;padding-right:400px">
                @Html.Partial("_ListaEmpresa", Model)
            </div>
            <button class="btn btn-success " onclick="Ingresar()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
            </button>

        </div>


        <hr />
        
            <div class="btn-group">

                <a href="@Url.Action("ReporteEmpresas", "Empresa")" class="btn btn-info" target = "_blank">

                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                        <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                    </svg>  Reportes
                </a>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary " onclick="ObtenerEmpresa()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>  Editar
                </button>
            </div>
            <div class="btn-group">
                <button class="btn btn-success " onclick="AbrirModalRegistro()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                    </svg>  Nuevo
                </button>
            </div>
            <div class="btn-group">
                <button class="btn btn-danger " onclick="AbrirModalEliminar()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                    </svg>  Eliminar
                </button>
            </div>
            <div class="btn-group">
                <a href="@Url.Action("CerrarSesion", "Login")" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                    </svg>  Cerrar Sesion
                </a>
            </div>

    </div>



    <div class="modal fade" id="modalEmpresa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="tituloEmpresa"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form role="form">

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 form-group alert alert-danger" id="mensajeModal" style="display:none">
                            </div>
                            <input type="text" class="form-control" id="itIdEmpresa" hidden>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>*Nombre</label>
                                    <input type="text" class="form-control" id="itNombre" placeholder="" maxlength="100">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>*Nit</label>
                                    <input type="text" class="form-control" id="itNit" placeholder="" maxlength="100">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>*Sigla</label>
                                    <input type="text" class="form-control" id="itSigla" placeholder="" maxlength="100">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Telefono</label>
                                    <input type="number" class="form-control" id="itTelefono" placeholder="" maxlength="50">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Correo</label>
                                    <input type="email" class="form-control" id="itCorreo" placeholder="" maxlength="100">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Direccion</label>
                                    <input type="text" class="form-control" id="itDireccion" placeholder="" maxlength="100">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>*Niveles</label>
                                    <select class="form-control select2  " style="width: 100%;" id="select_Nivel">
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Moneda</label>
                                    <select class="form-control select2" style="width: 100%;" id="select_Moneda">
                                        <option value="-1">Seleccionar Moneda</option>
                                        @{
                                            foreach (var i in monedas)
                                            {
                                                <option value="@i.IdMoneda">@i.Nombre</option>
                                            }

                                        }

                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Volver</button>
                    <button type="submit" class="btn btn-success" onclick="RegistroEmpresa()">Guardar</button>
                </div>
            </div>
            <!-- /.modal-content -->



        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalEliminar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmacion</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="inputIdEmpresa" hidden>
                    <p id="texto"></p>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="Eliminar()">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- jQuery -->




    <script src="@Url.Content("~/Content/Principal/plugins/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/Principal/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/Content/Principal/dist/js/adminlte.min.js")"></script>
    <script src="@Url.Content("~/Content/Principal/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js")"></script>
    <script src="@Url.Content("~/Content/Principal/plugins/select2/js/select2.full.min.js")"></script>
    <script type="text/javascript">

        $(document).ready(function () {
           $('.select2').select2();
           $("#select_empresa").select2();
        });


        
        function ObtenerEmpresa() {

            $("#mensaje").hide();
            if ( $("#select_empresa").val() == null) {
                   return MostrarMensaje("Seleccione Una Empresa");
            }

            let selectmoneda = document.getElementById("select_Moneda");
            let selectnivel = document.getElementById("select_Nivel");
            
            selectnivel.disabled = true;
            $("#tituloEmpresa").html("Modificar Empresa");
            
            $("#modalEmpresa").modal('show');
            
          


            $.ajax({
                url: "@Url.Action("ObtenerEmpresa", "Empresa")",
                cache: false,
                        type: "POST",
                        dataType: "json",
                        data: {
                            id: $("#select_empresa").val()

                }, success: function (result) {


                            console.log(result);
                            $("#itIdEmpresa").val(result.idEmpresa);
                            $("#itNombre").val(result.Nombre);
                            $("#itNit").val(result.Nit);
                            $("#itSigla").val(result.Sigla);
                            $("#itTelefono").val(result.Telefono);
                            if (result.Correo != null) {
                                $("#itCorreo").val(result.Correo);
                            }

                            $("#itDireccion").val(result.Direccion);
                            $("#select_Nivel").val(result.Niveles).trigger('change');
                            $("#select_Moneda").val(result.idMoneda).trigger('change');
                           
                           



                           // $("#select_Nivel option[value=4]").attr("selected",true);
                }

             });
        }

        function AbrirModalRegistro() {
             $("#mensaje").hide();
                $("#modalEmpresa").modal('show');
                 $("#tituloEmpresa").html("Registro Empresa");
                 $("#itIdEmpresa").val("");
                 $("#itNombre").val("");
                 $("#itNit").val("");
                 $("#itSigla").val("");
                 $("#itTelefono").val("");
                 $("#itCorreo").val("");
                $("#itDireccion").val("");
           
            let selectmoneda = document.getElementById("select_Moneda");
            let selectnivel = document.getElementById("select_Nivel");
           
            selectnivel.disabled = false;
        }

        function AbrirModalEliminar() {
                $("#mensaje").hide();
                if ( $("#select_empresa").val() == null) {
                       return MostrarMensaje("Seleccione Una Empresa");
                }

            var mesjModalEliminar = "¿Esta seguro que deseas eliminar la empresa "+ $("#select_empresa option:selected").text() +" ?";
             $("#texto").html(mesjModalEliminar);
            $("#modalEliminar").modal('show');

            console.log( $("#select_empresa").val())


        }


        function Eliminar() {
             $("#mensaje").hide();
                if ( $("#select_empresa").val() == null) {
                       return MostrarMensaje("Seleccione Una Empresa");
                }

            $.ajax({
                    url: "@Url.Action("Eliminar", "Empresa")",
                    cache: false,
                            type: "POST",
                            dataType: "script",
                            data: {
                                id: $("#select_empresa").val()
                            }

            });
        }


        function Ingresar() {

                $("#mensaje").hide();
                if ( $("#select_empresa").val() == null) {
                       return MostrarMensaje("Seleccione Una Empresa");
                }


            $.ajax({
                    url: "@Url.Action("IngresarEmpresa", "Empresa")",
                    cache: false,
                            type: "POST",
                            dataType: "script",
                            data: {
                               id: $("#select_empresa").val()
                            }

            });
        }




        function Imprimir() {



        }

        function RegistroEmpresa() {

            console.log($("#itIdEmpresa").val());

            if ($("#itIdEmpresa").val().length === 0) {


                $.ajax({
                    url: "@Url.Action("Registro", "Empresa")",
                    cache: false,
                            type: "POST",
                            dataType: "script",
                            data: {

                               nombre: $("#itNombre").val(),
                               nit: $("#itNit").val(),
                               sigla:$("#itSigla").val(),
                               telefono:$("#itTelefono").val(),
                               correo :$("#itCorreo").val(),
                               direeccion :$("#itDireccion").val(),
                                nivel: $("#select_Nivel").val(),
                                idmoneda: $("#select_Moneda").val()


                    }, success: function () {
                               /* listarEmpresa();

                                $("#itIdEmpresa").val("");
                                $("#itNombre").val("");
                                $("#itNit").val("");
                                $("#itSigla").val("");
                                $("#itTelefono").val("");
                                $("#itCorreo").val("");
                                $("#itDireccion").val("");
                                $("#modalEmpresa").modal('hide');*/
                              //  $("#select_Nivel").val("3");
                    }
                });



            } else {


                 $.ajax({
                    url: "@Url.Action("Editar", "Empresa")",
                    cache: false,
                            type: "POST",
                            dataType: "script",
                            data: {
                               id:  $("#itIdEmpresa").val(),
                               nombre: $("#itNombre").val(),
                               nit: $("#itNit").val(),
                               sigla:$("#itSigla").val(),
                               telefono:$("#itTelefono").val(),
                               correo :$("#itCorreo").val(),
                               direeccion :$("#itDireccion").val(),
                               nivel :$("#select_Nivel").val(),
                               idmoneda: $("#select_Moneda").val()

                    }, success: function () {


                    }
                });

            }

        }

        function listarEmpresa()
        {


            $.ajax({
                url: "@Url.Action("ListarEmpresa", "Empresa")",
                cache: false,
                data: {

                },
                type: "GET", success: function (html) {
                    $("#contenedorEmpresa").html(html);
                    $("#select_empresa").select2();
                }
            })

        }

        function MostrarMensaje(msj) {
            $("#modalEliminar").modal('hide');

              // $("#mensaje").show();
             //  $("#mensaje").html(msj);
             $(document).Toasts('create', {
                    class: ' bg-danger',
                    title: "Alerta",
                    autohide: true,
                    delay: 10000,
                    body: msj
                });
        }

        function MostrarMensajeModal(msj) {

               $("#mensajeModal").show();
               $("#mensajeModal").html(msj);

        }

        function MostrarMensajeExito(msj) {
                $("#mensajeModal").hide();
                listarEmpresa();
                var msjbody = "La Empresa Se Edito Correctamente";
                if ($("#itIdEmpresa").val().length === 0) {
                    msjbody = "La Empresa Se Registro Correctamente";
                }

                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: msj,
                    autohide: true,
                    delay: 10000,
                    body: msjbody
                });
                $("#itIdEmpresa").val("");
                $("#itNombre").val("");
                $("#itNit").val("");
                $("#itSigla").val("");
                $("#itTelefono").val("");
                $("#itCorreo").val("");
                $("#itDireccion").val("");
                $("#modalEmpresa").modal('hide');
                console.log(msj);
        }


        function MostrarMensajeEliminacion(msj) {
                $("#mensaje").hide();
                listarEmpresa();
                var msjbody = "Se elimino Correctamente la empresa";


                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: msj,
                    autohide: true,
                    delay: 10000,
                    body: msjbody
                });

                $("#modalEliminar").modal('hide');
                console.log(msj);
        }

         function redireccionar(url) {
                window.location = url;
         }

    </script>

</body>
</html>
