@using Datos;
@model List<Gestion>
@{
    ViewBag.Title = "Gestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section EtiquetaHead
    {

    <link href="@Url.Content("~/Content/Principal/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Principal/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/bootstrap-datepicker/css/bootstrap-datepicker.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-datepicker/css/bootstrap-datepicker3.css")" rel="stylesheet" />

   
} 


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Gestiones </h2>
                        <div class="row justify-content-end">
                            <div class="form-group">
                                <a href="@Url.Action("ReporteGestion", "Gestion")" class="btn btn-info" style="margin-right:10px;" target = "_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                        <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                                    </svg>
                                </a>

                            </div>
                            <div class="form-group">
                                <button class="btn btn-success" onclick="ValidarGestion()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        
                        <br />
                        <div class="form-group" id="contenedorLista">
                            @Html.Partial("ListaGestion", Model)
                        </div>


                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="modalEmpresa">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="tituloEmpresa"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form">

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group alert alert-danger" id="mensajeModal" style="display:none">
                        </div>
                        <input type="text" class="form-control" id="itIdGestion" hidden>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>*Nombre</label>
                                <input type="text" class="form-control" id="itNombre" placeholder="" maxlength="100">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label" data-date-format="dd/mm/yyyy" style="padding-top: 0px;">
                                <label class="control-label">*Fecha de Inicio:</label>
                                <input type="text" id="inicio" class="form-control-inline date-picker form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label" data-date-format="dd/mm/yyyy" style="padding-top: 0px;">
                                <label class="control-label">*Fecha Final:</label>
                                <input type="text" id="fin" class="form-control-inline date-picker form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                            </div>
                        </div>
                       

                    </div>

                </div>
            </form>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-success" onclick="RegistroGestion()">Guardar </button>
            </div>
        </div>
        <!-- /.modal-content -->



    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalEliminar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmacion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="inputIdGestion" hidden>
                <p id="texto"></p>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="Eliminar()">Aceptar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts{

    <script src="@Url.Content("~/Content/Principal/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/Principal/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/Content/Principal/plugins/datatables-responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/Content/Principal/plugins/datatables-responsive/js/responsive.bootstrap4.min.js")"></script>

    <script src="@Url.Content("~/Content/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>

   
    <script type="text/javascript">
        

        var TableDatatablesRowreorder = function () {

            var initTable1 = function () {
                var table = $('#tabla_gestion');

                var oTable = table.dataTable({

                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No hay datos para mostrar",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Gestion",
                        "infoEmpty": "No hay datos para mostrar",
                        "infoFiltered": "(Filtrado de _MAX_ total Gestion)",
                        "lengthMenu": "_MENU_ Gestion",
                        "search": "Buscar:",
                        "zeroRecords": "No se encontraron coincidencias"
                    },

                    // Or you can use remote translation file
                    //"language": {
                    //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
                    //},

                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                    /* buttons: [
                         //{ extend: 'print', className: 'btn dark btn-outline', exportOptions: { columns: [0, 1, 2, 3] } },
                         { extend: 'copy', className: 'btn purple btn-outline ', exportOptions: { columns: [0, 1, 2, 3] } },
                         { extend: 'pdf', className: 'btn green btn-outline', exportOptions: { columns: [0, 1, 2, 3] } },
                         { extend: 'csv', className: 'btn purple btn-outline ', exportOptions: { columns: [0, 1, 2, 3] } },
                         { extend: 'excel', className: 'btn purple btn-outline ', exportOptions: { columns: [0, 1, 2, 3] } }
                     ],*/
                    columnDefs: [
                        { orderable: false, targets: [4] }
                    ],
                    // setup rowreorder extension: http://datatables.net/extensions/rowreorder/

                    "order": [
                        [1, 'asc']
                    ],

                    "lengthMenu": [
                        [5, 10, 15, 20, -1],
                        [5, 10, 15, 20, "Todos"] // change per page values here
                    ],
                    // set the initial value
                    "pageLength": 10,

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {

                //main function to initiate the module
                init: function () {

                    if (!$().dataTable) {
                        return;
                    }

                    initTable1();
                }

            };

        }();

        $(document).ready(function () {
            TableDatatablesRowreorder.init();

            $("#inicio").datepicker();
            $("#fin").datepicker();


        });

        function redireccionar(url) {
            window.location = url;
        }

        function Ingresar(Id) {

            $.ajax({
                    url: "@Url.Action("IngresarGestion", "Gestion")",
                    cache: false,
                            type: "POST",
                            dataType: "script",
                            data: {
                                id: Id
                            }

            });
        }


        function RegistroGestion() {

            console.log($("#itIdGestion").val());

            if ($("#itIdGestion").val().length === 0) {
                $.ajax({
                    url: "@Url.Action("Registro", "Gestion")",
                    cache: false,
                            type: "POST",
                            dataType: "script",
                            data: {

                               nombre: $("#itNombre").val(),
                               fechainicio: $("#inicio").val(),
                               fechafin:$("#fin").val()



                    }, success: function () {

                    }
                });



            } else {


                 $.ajax({
                    url: "@Url.Action("Editar", "Gestion")",
                    cache: false,
                            type: "POST",
                            dataType: "script",
                            data: {
                               id:  $("#itIdGestion").val(),
                               nombre: $("#itNombre").val(),
                               fechainicio: $("#inicio").val(),
                               fechafin:$("#fin").val()


                    }, success: function () {


                    }
                });

            }

        }

         var Id = null;

       function AbrirModalEliminar(id,nombre) {

            Id = id;
           // $("#mensaje").hide();
                if (Id == null) {
                       return MostrarMensaje("Debe seleccionar la gestion");
                }

            var mesjModalEliminar = "¿Esta seguro que deseas eliminar la gestion " + nombre + " ?";
             $("#texto").html(mesjModalEliminar);
            $("#modalEliminar").modal('show');

            console.log(id)


        }



         function Eliminar() {

                if ( Id== null) {
                       return MostrarMensaje("Debe seleccionar la gestion");
                }

                $.ajax({
                        url: "@Url.Action("Eliminar", "Gestion")",
                        cache: false,
                                type: "POST",
                                dataType: "script",
                    data: {
                        id: Id
                    }

                });
          }

         function ValidarGestion() {


                $.ajax({
                        url: "@Url.Action("ValidarGestionAbierta", "Gestion")",
                        cache: false,
                                type: "POST",
                                dataType: "script",
                    data: {

                    }

                });
          }


        function AbrirModalRegistro() {
           // $("#mensaje").hide();
            $("#modalEmpresa").modal('show');
            $("#tituloEmpresa").html("Registrar Gestion");
            $("#itIdGestion").val("");
            $("#itNombre").val("");
             $("#inicio").val("");
            $("#fin").val("");
        }

        function AbrirModalEditar(id,nombre,fechainicio,fechafin) {
           // $("#mensaje").hide();
            $("#modalEmpresa").modal('show');
            $("#tituloEmpresa").html("Modificar Gestion");
            $("#itIdGestion").val(id);
            $("#itNombre").val(nombre);
            $("#inicio").val(fechainicio);
            $("#fin").val(fechafin);
        }

        function MostrarMensaje(msj) {
                $("#modalEliminar").modal('hide');


                 $(document).Toasts('create', {
                        class: ' bg-danger',
                        title: "Alerta",
                        autohide: true,
                        delay: 10000,
                        body: msj
                    });
        }


         function MostrarMensajeExito(msj) {

                listar();
                var msjbody = "Se Modificaron los Datos Exitosamente";
                if ($("#itIdGestion").val().length === 0) {
                    msjbody = "Se Registraron los Datos Exitosamente";
                }

                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: msj,
                    autohide: true,
                    delay: 10000,
                    body: msjbody
                });
                $("#itIdGestion").val("");
                $("#itNombre").val("");

                $("#modalEmpresa").modal('hide');
               // console.log(msj);
        }


        function MostrarMensajeEliminacion(msj) {

                listar();
                var msjbody = "Se elimino la gestion";


                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: msj,
                    autohide: true,
                    delay: 10000,
                    body: msjbody
                });

                $("#modalEliminar").modal('hide');
               // console.log(msj);
        }

        function listar()
        {
            $.ajax({
                url: "@Url.Action("Listar", "Gestion")",
                cache: false,
                data: {

                },
                type: "GET", success: function (html) {
                    $("#contenedorLista").html(html);
                     TableDatatablesRowreorder.init();
                }
            })

        }





    </script>
}
