

@{
    ViewBag.Title = "Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section EtiquetaHead
    {



    <link href="@Url.Content("~/Content/arbol/css/gijgo.css")" rel="stylesheet" />

}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Categorias</h2>

                    </div>
                    <div class="card-body">

                        <div class="row justify-content-center">

                            <div class="form-group">
                                <button class="btn btn-danger" style="margin-right:10px;" onclick="ModalEliminarCategoria()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                    </svg>
                                </button>
                            </div>


                            <div class="form-group">
                                <button class="btn btn-primary" style="margin-right:10px;" onclick="ObtenerCategoria()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                </button>
                            </div>


                            <div class="form-group">
                                <button class="btn btn-success" onclick="AbrirModalRegistro()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                                    </svg>
                                </button>
                            </div>

                        </div>

                        <br />

                        <div id="test-result" style="height:290px; overflow:scroll; ">
                            <div id="tree">

                            </div>
                        </div>





                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">

                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>




<div class="modal fade" id="modalEmpresa">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="tituloEmpresa"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form role="form">


                <div class="modal-body">

                    <div class="row">

                        <div class="col-md-12 form-group alert alert-danger" id="mensajeModal" style="display:none">

                        </div>

                        <input type="text" class="form-control" id="itIdGestion" hidden>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" id="itNombre" placeholder="" maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Descripcion</label>
                                <input type="text" class="form-control" id="itDescripcion" placeholder="" maxlength="100">
                            </div>
                        </div>




                    </div>


                </div>
            </form>

            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" onclick="RegistroCategoria()">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->






    </div>
    <!-- /.modal-dialog -->
</div>





<div class="modal fade" id="modalEditar">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="tituloeditar"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form role="form">


                <div class="modal-body">

                    <div class="row">

                        <div class="col-md-12 form-group alert alert-danger" id="mensajeModal" style="display:none">

                        </div>

                        <input type="text" class="form-control" id="itIdGestion" hidden>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" id="itNombreEditar" placeholder="" maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Descripcion</label>
                                <input type="text" class="form-control" id="itDescripcionEditar" placeholder="" maxlength="100">
                            </div>
                        </div>
                    </div>


                </div>
            </form>

            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" onclick="EditarCategoria()">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->






    </div>
    <!-- /.modal-dialog -->
</div>



<div class="modal fade" id="modalEliminar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Cuenta</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="inputIdGestion" hidden>
                <p id="texto"></p>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="EliminarCategoria()">Aceptar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



@section Scripts{



    <script src="@Url.Content("~/Content/arbol/js/gijgo.js")"></script>

    <script type="text/javascript">

        let tree;

        $(document).ready(function () {
            listarCategoria();
        });

            let idCategoria=0;
        let idPadre = 1;
        let NombreCategoria = "";
        let DescripcionCategoria = "";

         function listarCategoria() {



            $.ajax({
                url: "@Url.Action("ListarCategoria", "Categoria")",
                cache: false,
                        type: "POST",
                        dataType: "json",
                        data: {
                }, success: function (result) {
                            console.log(result.Categorias);
                                tree = $('#tree').tree({
                                    primaryKey: 'id',
                                    dataSource: result.Categorias,
                                        uiLibrary: 'bootstrap4',
                                        select: function (e, node, id) {
                                            idCategoria = id;
                                            idPadre = 0;

                                        },
                                        cascadeSelection: false,
                               });
                           tree.expandAll()
                                 tree.on('dataBound', function () {
                                        var node = tree.getNodeByText('North America');
                                        tree.expand(node);
                                 });
                                tree.on('unselect', function (e, node, id) {
                                    idCategoria = 0;
                                    idPadre = 1;
                                });


                }

            });


        }
        function listarCategoria2() {
            $.ajax({
                url: "@Url.Action("ListarCategoria", "Categoria")",
                cache: false,
                        type: "POST",
                        dataType: "json",
                        data: {
                }, success: function (result) {
                            console.log(result.Categorias);
                                tree = $('#tree').tree({
                                        primaryKey: 'id',
                                        dataSource: result.Categorias,
                                        uiLibrary: 'bootstrap4',
                                    select: function (e, node, id) {
                                        idCategoria = id;
                                            idPadre = 0;

                                        },
                                        cascadeSelection: false,
                               });
                            tree.expandAll()
                                 tree.on('dataBound', function () {
                                        var node = tree.getNodeByText('North America');
                                        tree.expand(node);
                                 });
                                tree.on('unselect', function (e, node, id) {
                                    idCategoria = 0;
                                    idPadre = 1;
                                });


                }

            });


        }


        function redireccionar(url) {
            window.location = url;
        }

        function Ingresar(Id) {

            $.ajax({
                    url: "@Url.Action("IngresarGestion", "Gestion")",
                    cache: false,
                            type: "POST",
                            dataType: "script",
                            data: {
                                id: Id
                            }

            });
        }


        function RegistroCategoria() {


                $.ajax({
                    url: "@Url.Action("Registro", "Categoria")",
                    cache: false,
                            type: "POST",
                            dataType: "script",
                            data: {
                                nombre: $("#itNombre").val(),
                                descripcion: $("#itDescripcion").val(),
                                idCategoria: idCategoria,
                                idPadre: idPadre
                    }, success: function () {

                    }
                });

        }


        function ObtenerCategoria() {

            if (idCategoria == 0) {
                       return MostrarMensaje("Debe seleccionar una Categoria");
                }

                $.ajax({
                    url: "@Url.Action("ObtenerCategoria", "Categoria")",
                    cache: false,
                            type: "POST",
                            dataType: "json",
                    data: {
                        idcategoria: idCategoria

                    }, success: function (result) {


                                console.log(result);

                        $("#tituloeditar").html("Editar Categoria");
                        $("#itNombreEditar").val(result.Nombre);
                        $("#itDescripcionEditar").val(result.Descripcion);
                        $("#modalEditar").modal('show');

                    }

                 });
        }


    function ModalEliminarCategoria() {

                if (idCategoria == 0) {
                       return MostrarMensaje("Debe seleccionar una Categoria");
                }

                $.ajax({
                    url: "@Url.Action("ObtenerCategoria", "Categoria")",
                    cache: false,
                            type: "POST",
                            dataType: "json",
                    data: {
                        idcategoria: idCategoria

                    }, success: function (result) {


                                console.log(result);

                       var mesjModalEliminar = "¿Esta seguro que deseas eliminar la Categoria " + result.Nombre + " ?";
             $("#texto").html(mesjModalEliminar);
            $("#modalEliminar").modal('show');

                    }

                 });
        }

        function EditarCategoria() {


                if (idCategoria == 0) {
                       return MostrarMensaje("Debe seleccionar una Categoria");
                }

                $.ajax({
                    url: "@Url.Action("Editar", "Categoria")",
                    cache: false,
                            type: "POST",
                            dataType: "script",
                            data: {
                                idCategoria: idCategoria,
                                nombre: $("#itNombreEditar").val(),
                                descripcion: $("#itDescripcionEditar").val()

                    }, success: function () {

                    }
                });

        }


         function EliminarCategoria() {


             if (idCategoria == 0) {
                       return MostrarMensaje("Debe seleccionar una Categoria");
                }

                $.ajax({
                    url: "@Url.Action("Eliminar", "Categoria")",
                    cache: false,
                            type: "POST",
                            dataType: "script",
                            data: {
                                idCategoria: idCategoria


                    }, success: function () {

                    }
                });

        }



         var Id = null;

       function AbrirModalEliminar(id,nombre) {

            Id = id;
           // $("#mensaje").hide();
                if (Id == null) {
                       return MostrarMensaje("Debe seleccionar la Categoria");
                }

            var mesjModalEliminar = "¿Esta seguro que deseas eliminar la Categoria " + nombre + " ?";
             $("#texto").html(mesjModalEliminar);
            $("#modalEliminar").modal('show');

            console.log(id)


        }
         function Eliminar() {

                if ( Id== null) {
                       return MostrarMensaje("Debe seleccionar la Categoria");
                }

                $.ajax({
                        url: "@Url.Action("Eliminar", "Categoria")",
                        cache: false,
                                type: "POST",
                                dataType: "script",
                    data: {
                        id: Id
                    }

                });
          }

         function ValidarGestion() {


                $.ajax({
                        url: "@Url.Action("ValidarGestionAbierta", "Gestion")",
                        cache: false,
                                type: "POST",
                                dataType: "script",
                    data: {

                    }

                });
          }


        function AbrirModalRegistro() {

            $("#modalEmpresa").modal('show');
            $("#tituloEmpresa").html("Registro de Categoria");

            $("#itNombre").val("");
            $("#itDescripcion").val("");

        }

        function MostrarMensaje(msj) {
                $("#modalEliminar").modal('hide');


                 $(document).Toasts('create', {
                        class: ' bg-danger',
                        title: "Alerta",
                        autohide: true,
                        delay: 10000,
                        body: msj
                    });
        }


         function MostrarMensajeExito(msj) {


                tree.destroy()
               listarCategoria2();
             var msjbody = "Se Registraron los Datos Correctamente";
                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: msj,
                    autohide: true,
                    delay: 10000,
                    body: msjbody
                });

             $("#itNombre").val("");
             $("#itDescripcion").val("");

                $("#modalEmpresa").modal('hide');
               // console.log(msj);
        }


         function MostrarMensajeExitoEditar(msj) {


                tree.destroy()
               listarCategoria2();

            var  msjbody = "Se Editaron los Datos Correctamente";
                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: msj,
                    autohide: true,
                    delay: 10000,
                    body: msjbody
                });
                //$("#itIdGestion").val("");
             $("#itNombreEditar").val("");
             $("#itDescripcionEditar").val("");

                $("#modalEditar").modal('hide');
               // console.log(msj);
        }


        function MostrarMensajeEliminacion(msj) {


                tree.destroy()
               listarCategoria2();
                var msjbody = "Se elimino la Categoria";


                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: msj,
                    autohide: true,
                    delay: 10000,
                    body: msjbody
                });

                $("#modalEliminar").modal('hide');
               // console.log(msj);
        }

        function listar()
        {


            $.ajax({
                url: "@Url.Action("Listar", "Gestion")",
                cache: false,
                data: {

                },
                type: "GET", success: function (html) {
                    $("#contenedorLista").html(html);
                     TableDatatablesRowreorder.init();
                }
            })

        }





    </script>

}
